<%= bootstrap_form_for(@tariff, layout: :horizontal) do |f| %>
  <% if @tariff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tariff.errors.count, "error") %> prohibited this tariff from being saved:</h2>

      <ul>
      <% @tariff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.date_field :tariff_started %>
    <%= f.text_field :gas %>
    <%= f.text_field :cold_water %>
    <%= f.text_field :hot_water %>
    <%= f.text_field :hot_water_sink %>
    <%= f.text_field :electricity %>
    <%= f.text_field :comment %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
