<p id="notice"><%= notice %></p>

<h2> База изменений тарифов по счетчикам </h2>

<table class="table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Дата</th>
      <th> Газ </th>
      <th> Хол. вода </th>
      <th> Гор. вода. </th>
      <th> Гор. отвод. </th>
      <th> Электр. </th>
    </tr>
  </thead>

  <tbody>
    <% @tariffs.each do |tariff| %>
      <tr align="right">
        <td><%= link_to "#{tariff.tariff_started}", tariff %></td>
        <td><%= tariff.gas %></td>
        <td><%= tariff.cold_water %></td>
        <td><%= tariff.hot_water %></td>
        <td><%= tariff.hot_water_sink %></td>
        <td><%= tariff.electricity %></td>
        <td><%= link_to 'Edit', edit_tariff_path(tariff) %></td>
        <td><%= link_to 'Destroy', tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tariff', new_tariff_path %>
