<p id="notice"><%= notice %></p>
<%= javascript_include_tag params[:controller] %>

<%= select_year(Date.today, start_year: 1992, end_year: 2025) %>
<input class="date_year" />

<h2> Список платежей по месяцам </h2>

  <table class="table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th> Дата </th>
      <th> Газ </th>
      <th> Хол. вода </th>
      <th> Гор. вода </th>
      <th> Отвод гор. воды </th>
      <th> Электричество </th>
      <th> Отопление</th>
      <th> Телефон </th>
      <th> Спикерфон </th>
      <th> Очистка </th>
      <th> Всего </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
      <tr align="right">
      <td><%= link_to "#{I18n.t('date.month_names')[counter.date.month]} - #{counter.date.year}", counter %> </td>
        <% results = counter.get_calculated() %>
        <td><%= results[:gas] %> </td>
        <td><%= results[:cold_water] %></td>
        <td><%= results[:hot_water] %></td>
        <td><%= results[:hot_water_sink] %></td>
        <td><%= results[:electricity] %></td>
        <td><%= counter.heat %></td>
        <td><%= counter.phone %></td>
        <td><%= counter.speaker %></td>
        <td><%= counter.cleaning %></td>
        <td><%= counter.get_total_sum(results) %></td>
        <td><%= link_to 'Edit', edit_counter_path(counter) %></td>
        <td><%= link_to 'Destroy', counter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counter', new_counter_path %>
<div class="test_div">+++++++++++++++++</div>