<!DOCTYPE html>
<html>
<head>
  <title>TariffCalc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body ng-app>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="sr-only"></span>
          <span class="icon-bar"><%= link_to "Counters", counters_path %> | <%= link_to "Tariffs", tariffs_path%>
          </span>
        </div>
      </div>
    </div>  
        <div class="container theme-showcase">
        <input ng-model = "foo" type="text" />
            
          <%= yield %>
               
        </div>
</body>
</html>
